//FONTS
@font-face {
    font-family: 'Animatics';
    src: url('../fonts/blog/amaticsc-regular-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/blog/amaticsc-regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/blog/amaticsc-regular-webfont.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/blog/amaticsc-regular-webfont.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/blog/amaticsc-regular-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
    font-family: 'RobotoCondensedLight';
    src: url('../fonts/blog/robotocondensed-light-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/blog/robotocondensed-light-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/blog/robotocondensed-light-webfont.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/blog/robotocondensed-light-webfont.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/blog/robotocondensed-light-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
    font-family: 'RobotoCondensed';
    src: url('../fonts/blog/robotocondensed-regular-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/blog/robotocondensed-regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/blog/robotocondensed-regular-webfont.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/blog/robotocondensed-regular-webfont.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/blog/robotocondensed-regular-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
}

body {
  background-color: white;
}

//TYPO
a{
  color: black;
  background-color: #b0a283;
  text-decoration: none;

  padding-left: 3px;
  padding-right: 3px;
}

.quote{
  font-family: Animatics;
}

//containers
#content {
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  width: 70%;

  margin-top: 50px;

  color: black;
  font-family: RobotoCondensed;
}

.textContent-container {
  position: relative;
  text-align: left;

  margin-bottom: 20px;
  margin-top: 10px;
}

.blogTitle{
  display: block;

  margin-top: 30px;
  margin-bottom: 50px;

  font-size: 50px;
}

.textTitle {
  display: block;

  margin-top: 2px;
  padding: 3px;

  font-size: 22px;
  background-color: #b0a283;
}

.textTitle.date {
  font-size: 16px;
}

.textContent {
  font-size: 15px;

  margin-left: 5px;
  margin-bottom: 5px;
}
